<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Simple Car REST API with Thymeleaf and Bootstrap</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/all-cars}">All cars</a></li>
            <li><a th:href="@{/add-car}">Add a new car</a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Welcome on Cars Page</h2>

</div>


</body>
</html>